/*Universal Styles*/
html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Header and Navigation Styles*/
/*flex container*/
header .container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ;
  height: 64px;
  z-index: 1;
  background-color: white;
}

/*flex items*/
.header--nav {
  display: block;
  flex-grow: 1;
  text-align: right;
  padding-right: 24px;
}

.header--nav a {
  padding-left: 16px;
  text-decoration: none;
  color: black;
}

.header--nav a:hover {
  color: lightgrey;
}

.header--logo img {
  padding-left: 24px;
  display: flex;
  height: 32px;
}

.colmar {
  font-size: 20px;
  font-weight: bold;
}

.academy {
  font-size: 20px;
  justify-content: center;
}

/*Turn off mobile Navigation*/
.header--nav--mobile {
  display: none;
}

/*header navigation media query*/
@media only screen and (max-width: 480px) {
  .header--nav, .header--logo {
    display: none;
  }

  .academy, .colmar {
    display: none;
  }

  .header--nav--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
    flex-grow: 1;
  }

  .icon img:hover {
    opacity: 0.5;
  }
}

/*Main Banner Styles

.main--banner {
  margin-top: 64px;
  background-color: lightgrey;
}*/
/*flex container*/
.main--banner .container {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
}

/*flex items*/
.left-column {
  width: 60%;
  padding: 32px 24px;
  background-color: lightgrey;
}

.left-column img {
  width: 100%;
}

.right-column {
  width: 40%;
  background-color: lightgrey;
}

@media only screen and (max-width: 450px) {
  .main--banner .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .left-column, .right-column {
    width: 100%;
    padding: 0px 0px;
  }
}

/*flex container*/
.tagline {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 6rem;
  padding-left: 20px;
  margin-right: 64px;
}

/*flex items*/
.tagline p {
  font-weight: bold;
  padding-bottom: 24px;
  margin-right: 64px;
}

.tagline a {
  text-align: center;
  color: white;
  background-color: black;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 64px;
}

.tagline a:hover {
  opacity: 0.5;
}

/*Main Information Styles*/
.information {
  display: flex;
  justify-content: space-between;
}

.information .left-column {
  background-color: white;
}

.information h3 {
  padding-bottom: 24px;
}

.information p {
  font-size: 0.8rem;
}

.quote {
  font-weight: bold;
  font-size: 0.8rem;
}

/*Flex container for the right column in the information main section*/
.information .right-column {
  background-color: white;
  border-left: 1px solid lightgrey;
  padding: 16px 0px 32px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.right-column .img--mobile {
  display: none;
}

.box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.box img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.content {
  padding: 16px 1px 16px 0px;
  width: 100%;
}

.content a {
  font-size: 0.8rem;
  color: blue;
  text-decoration: none
}

.content a:hover {
  font-weight: bold;
}

.content p {
  padding-top: 8px;
  padding-bottom: 8px;
}

.first-info.box {
  border-bottom: 2px solid lightgrey;
}

/*make the back ground of the third info box lioght grey*/
.third-info.box {
  background-color: lightgrey;
}

img .img--mobile {
  display: none;
}

@media only screen and (max-width: 450px) {
  .information .left-column {
    display: none;
  }

  .tagline {
    align-items: center;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
  }

  .tagline a {
    text-align: center;
    width: 80%;
  }

  .tagline h1 {
    align-items: center;
  }

  .information .img--desktop {
    display: none;
  }

  .information .img--mobile {
    display: flex;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .information .right-column {
    padding: 16px 16px;
  }

  .information .content {
    padding-left: 16px;
    padding-bottom: 64px;
  }

  .information .third-info {
    background-color: white;
  }
}

/*Course Styles*/
.learning .container {
  background-color: lightgrey;
}

.headline {
  text-align: center;
  padding-top: 32px;
}

/*flex container*/
.learning--grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 32px;
  padding-top: 32px;
}

/*Flex items*/
.learning--item {
  width: 30%;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 32px;
}

.learning img {
  padding-bottom: 16px;
  height: auto;
  width: 100%;
}

.learning--item--course a {
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
  padding-top: 16px;
  padding-left: 16px;
}

.learning--item--course a:hover {
  color: lightgrey;
}

.learning--item p {
  font-size: 0.8rem;
  padding-left: 16px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 24px;
}

.learning--item .courses {
  padding-bottom: 8px;
}

@media only screen and (max-width: 450px) {
  .learning--item img, .learning--item p {
    display: none;
  }

  .learning--grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-top: 16px;
    border-bottom: 1px solid lightgrey;
  }

  .learning--item {
    width: 100%;
    align-items: left;
    margin-bottom: 8px;
  }

  .learning .container {
    background-color: white;
  }

  .learning--item--course {
    background-color: lightgrey;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 24px;
    margin-bottom: 8px;
  }

  .learning--item--course a:hover {
    color: black;
  }

  .learning--item--course:hover {
    opacity: 0.6;
  }

  .content p {
    padding: 0px;
    font-size: 0.9rem;
  }

  .content a {
    font-size: 0.9rem;
  }

  .headline {
    padding-top: 0px;
  }
}

/*Thesis exhibt Styles*/
.thesis--header {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.thesis .container {
  display: flex;
  justify-content: space-between;
}

.thesis .video {
  width: 100%;
  height: auto;
  padding-right: 24px;
  padding-bottom: 24px;
}

.urban p {
  width: 60%;
  font-size: 0.8rem;
}

.thesis .left-column, .thesis .right-column {
  background-color: white;
}

.thesis .left-column {
  padding-top: 0px;
}

.thesis .first-info {
  background-color: lightgrey;
}

.thesis p {
  font-size: 0.8rem;
}

@media only screen and (max-width: 750px) {
  .thesis .right-column, .thesis .urban {
    display: none;
  }

  .thesis h2 {
    padding-top: 32px;
    padding-bottom: 16px;
  }
}

/*Footer Styles*/
footer .container {
  border-top: 1px solid lightgrey;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-left: 24px;
  padding-bottom: 64px;
}

.footer--nav {
  display: block;
  flex-grow: 1;
  padding-right: 24px;
  text-align: right;
}

@media only screen and (max-width: 450px) {
  footer .container {
    border-top: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .footer--nav {
    display: none;
  }
}
